body {
  font-family: helvetica;
}

h1:hover{
  color: green;
}

header, footer {
  background-color: yellow;
}

ul{
  list-style-type: lower-greek;
}

.column-1>h2{
  color: purple;
}

.column-1{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  background-color: red;
  padding: 15px;
  border: 2px solid black;
}

.column-2{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  background-color: blue;
  padding: 15px;
  border: 2px solid black;
}