<!DOCTYPE html>
<html>
<head>
	<title>Template Practice</title>
</head>
<body>
	<h1>Happy Birthday!</h1>

	<form action="/happy_birthday" method="post">
		<input type="text" name="incr" placeholder="Age Increment!">
		<button type="submit">Save!</button>
	</form>

</body>
</html>