#contact-info {
		font-size: .8em;
}
#contact-info:hover{
	color: red;
}

.job {
	background-color: #e9e5dc;
	border-radius: 10px;
	padding : 10px 20px 20px 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.list{
	font-size: .8em;
}

section section{
	font-family: "Times New Roman";
} 